In [1]:
import dask.dataframe as dd
import pandas as pd
import glob
import os

In [2]:
path = './Data/'

In [3]:
filelist = os.listdir(path)
# filelist

In [4]:
# I know it is ugly, but it works :(
files = [pd.read_csv(file, delimiter='\t') for file in glob.glob(os.path.join(path ,"*.csv"))]
df = pd.concat(files, ignore_index=True)
df.to_csv(path+"TEMP.tsv", sep="\t", index=False, header=True, encoding="utf-8")
df = pd.read_csv(path+"TEMP.tsv", sep="\t" ,low_memory=False, usecols=lambda c: not c.startswith('Unnamed:'))
df

                                Origin Cell Line  Gene  Gene Expression
0                                 LUNG     DMS53  A1BG        -2.405224
1                      LARGE INTESTINE    SW1116  A1BG        -4.629526
2   HAEMATOPOIETIC AND LYMPHOID TISSUE     HUNS1  A1BG         0.111164
3   HAEMATOPOIETIC AND LYMPHOID TISSUE    AML193  A1BG        -0.391639
4                                 SKIN    RVH421  A1BG         1.964512
..                                 ...       ...   ...              ...
65                                 NaN     DMS53  A1BG        -2.405224
66                                 NaN    SW1116  A1BG        -4.629526
67                                 NaN     HUNS1  A1BG         0.111164
68                                 NaN    AML193  A1BG        -0.391639
69                                 NaN    RVH421  A1BG         1.964512

[70 rows x 4 columns]